/* anton-400normal - latin */

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Anton Regular '),
    local('Anton-Regular'),
    url(fonts/anton-latin-400.woff2) format('woff2'), 
    url(fonts/anton-latin-400.woff) format('woff');
  /* Modern Browsers */
}/* montserrat-100normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: local('Montserrat Thin '),
    local('Montserrat-Thin'),
    url(fonts/montserrat-latin-100.woff2) format('woff2'), 
    url(fonts/montserrat-latin-100.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-100italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 100;
  src: local('Montserrat Thin italic'),
    local('Montserrat-Thinitalic'),
    url(fonts/montserrat-latin-100italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-100italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-200normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 200;
  src: local('Montserrat Extra Light '),
    local('Montserrat-Extra Light'),
    url(fonts/montserrat-latin-200.woff2) format('woff2'), 
    url(fonts/montserrat-latin-200.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-200italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 200;
  src: local('Montserrat Extra Light italic'),
    local('Montserrat-Extra Lightitalic'),
    url(fonts/montserrat-latin-200italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-200italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-300normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: local('Montserrat Light '),
    local('Montserrat-Light'),
    url(fonts/montserrat-latin-300.woff2) format('woff2'), 
    url(fonts/montserrat-latin-300.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-300italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 300;
  src: local('Montserrat Light italic'),
    local('Montserrat-Lightitalic'),
    url(fonts/montserrat-latin-300italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-300italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-400normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat Regular '),
    local('Montserrat-Regular'),
    url(fonts/montserrat-latin-400.woff2) format('woff2'), 
    url(fonts/montserrat-latin-400.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-400italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: local('Montserrat Regular italic'),
    local('Montserrat-Regularitalic'),
    url(fonts/montserrat-latin-400italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-400italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-500normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: local('Montserrat Medium '),
    local('Montserrat-Medium'),
    url(fonts/montserrat-latin-500.woff2) format('woff2'), 
    url(fonts/montserrat-latin-500.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-500italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 500;
  src: local('Montserrat Medium italic'),
    local('Montserrat-Mediumitalic'),
    url(fonts/montserrat-latin-500italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-500italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-600normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: local('Montserrat SemiBold '),
    local('Montserrat-SemiBold'),
    url(fonts/montserrat-latin-600.woff2) format('woff2'), 
    url(fonts/montserrat-latin-600.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-600italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 600;
  src: local('Montserrat SemiBold italic'),
    local('Montserrat-SemiBolditalic'),
    url(fonts/montserrat-latin-600italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-600italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-700normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat Bold '),
    local('Montserrat-Bold'),
    url(fonts/montserrat-latin-700.woff2) format('woff2'), 
    url(fonts/montserrat-latin-700.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-700italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 700;
  src: local('Montserrat Bold italic'),
    local('Montserrat-Bolditalic'),
    url(fonts/montserrat-latin-700italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-700italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-800normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: local('Montserrat ExtraBold '),
    local('Montserrat-ExtraBold'),
    url(fonts/montserrat-latin-800.woff2) format('woff2'), 
    url(fonts/montserrat-latin-800.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-800italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 800;
  src: local('Montserrat ExtraBold italic'),
    local('Montserrat-ExtraBolditalic'),
    url(fonts/montserrat-latin-800italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-800italic.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-900normal - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-display: swap;
  font-weight: 900;
  src: local('Montserrat Black '),
    local('Montserrat-Black'),
    url(fonts/montserrat-latin-900.woff2) format('woff2'), 
    url(fonts/montserrat-latin-900.woff) format('woff');
  /* Modern Browsers */
}

/* montserrat-900italic - latin */

@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-display: swap;
  font-weight: 900;
  src: local('Montserrat Black italic'),
    local('Montserrat-Blackitalic'),
    url(fonts/montserrat-latin-900italic.woff2) format('woff2'), 
    url(fonts/montserrat-latin-900italic.woff) format('woff');
  /* Modern Browsers */
}/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit;font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}[hidden],template{display:none}html{box-sizing:border-box;font-family:Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;font-weight:300;font-size:1rem;line-height:1.5rem;color:#383838;letter-spacing:1.2px}*,:after,:before{box-sizing:inherit}body{width:100%;background-color:#fff}embed,img,object,video{max-width:100%}ul{list-style:none;padding-left:0}a{color:#000;text-decoration:none}h1,h2,h3,h4,h5,h6{font-family:Anton;font-weight:400;color:#000;letter-spacing:1.8px}h1{font-size:80px;line-height:80px;margin:0;letter-spacing:6px}h1,h2,h3{text-transform:uppercase}h2,h3{font-size:1.8rem;line-height:1.8rem;margin-bottom:3.6rem}h4,h5{text-transform:uppercase;font-size:1.5rem;line-height:1.5rem;margin-bottom:3rem}h6{font-size:1.1rem;line-height:1.1rem;margin-bottom:2.2rem}.text-center{text-align:center}.wrapper{width:100%;padding:0 5vw 20px}.container{width:100%;webkit-display:flex;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;-ms-flex-wrap:wrap;flex-wrap:wrap;-ms-flex-pack:distribute;justify-content:space-around;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;-ms-flex-line-pack:stretch;align-content:stretch;padding:10px 0;overflow:hidden}.date-text{font-size:.75rem}.nav_inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;background-color:#000;width:100%;height:100%;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:stretch;-ms-flex-align:stretch;align-items:stretch;position:fixed;z-index:1;-webkit-transform:translate(-100%);transform:translate(-100%);transition:-webkit-transform .3s ease;transition:transform .3s ease;transition:transform .3s ease,-webkit-transform .3s ease}.nav_inner.open{-webkit-transform:translate(0);transform:translate(0)}@media only screen and (min-width:600px){.nav_inner{width:300px;-webkit-transform:translate(-300px);transform:translate(-300px)}}.nav_inner .closebtn{display:block;position:absolute;top:20px;right:20px;font-size:42px;cursor:pointer;pointer-events:auto}.nav_inner .closebtn,.nav_inner a{min-width:48px;min-height:48px;color:#fff}.nav_inner a{font-family:Anton;text-transform:uppercase;font-weight:400;letter-spacing:2px;text-align:center;padding:15px;font-size:1.1rem}.burger{width:3vw;height:3vw;min-width:48px;min-height:48px;position:fixed;top:1vw;left:1vw;cursor:pointer;pointer-events:auto;z-index:2}.burger img{width:100%}.line{display:block;margin:8px 0;width:3vw;height:2px;color:red;background-color:#000}.card{position:relative;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;min-width:0;word-wrap:break-word;background-color:#fff;background-clip:border-box;margin:30px 0;box-shadow:0 4px 8px 0 rgba(0,0,0,.2)}.card:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,.2)}.card-body{-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}.card-body,.card-footer{padding:20px}.card-img{max-width:100%}.card-group-bg-img{position:absolute;top:0;right:0;width:100%;height:100%;mix-blend-mode:multiply;-webkit-filter:grayscale(100%);filter:grayscale(100%);-o-object-fit:cover;object-fit:cover;vertical-align:middle}.card-group{position:relative}.circular-chart{display:block;margin:10px auto;width:80%;max-height:250px;-webkit-box-flex:1;-ms-flex:1 1 auto;flex:1 1 auto}.circle-bg{fill:none;stroke:#ffe7da;stroke-width:2}.circle{fill:none;stroke:#383838;stroke-width:2;-webkit-animation:progress 1s ease-out forwards;animation:progress 1s ease-out forwards}@-webkit-keyframes progress{0%{stroke-dasharray:0 100}}@keyframes progress{0%{stroke-dasharray:0 100}}.hero{position:relative;padding:30px 5vw;background-color:#ffe7da;background-image:url(img/pineapple-supply-co_900.jpg);background-attachment:fixed;background-position:50%;background-repeat:no-repeat;background-size:cover}@media only screen and (min-width:1500px){.hero{background-image:url(img/pineapple-supply-co_1800.jpg)}}@media only screen and (min-width:900px){.hero{background-image:url(img/pineapple-supply-co_1200.jpg)}}@media only screen and (min-width:600px){.hero .title.fixed{position:fixed}}@media only screen and (min-width:600px){.hero .title.absolute,.hero .title.fixed{bottom:30px;right:80px;-webkit-transform:rotate(90deg);transform:rotate(90deg);-webkit-transform-origin:right;transform-origin:right}.hero .title.absolute{position:absolute}}.hero .greeting{padding-top:40vh;color:#000;font-size:1.5rem;line-height:3rem;text-shadow:0 1px 2px rgba(0,0,0,.4)}@media only screen and (min-width:600px){.hero .greeting{width:40vw}}.module{margin-bottom:80px;padding-top:50px;padding-bottom:50px}@media only screen and (max-width:850px){.hidden-md{display:none}}.col-67{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}.col-33,.col-67{max-width:100%}@media only screen and (min-width:850px){.col-67{max-width:60%}.col-33{max-width:40%}}#projects{margin-left:-5vw;margin-right:-5vw;padding-left:5vw;padding-right:5vw}#projects .card{max-width:80%}@media only screen and (min-width:1200px){#projects .card:not(:only-child){width:40%}}#pro-statement{position:relative;margin-left:-5vw;margin-right:-5vw;background-color:#ffe7da;background-image:url(img/ev-295467_1200.jpg);background-position:50%;background-repeat:no-repeat;background-size:cover}#pro-statement p{max-width:540px;margin:30px auto}#soft-skills{padding:50px 5vw;margin-left:-5vw;margin-right:-5vw;background-color:#f1f1f1}#soft-skills h6{font-family:Montserrat;font-size:1rem;color:#383838}.text-area{padding:32px}#pro-skills li{line-height:2rem}#studies{position:relative;margin-left:-5vw;margin-right:-5vw}#studies h2{padding-top:60px}#studies .card{width:18rem}#studies .card-group{background-color:#ffe7da}#studies .card-group ul{max-width:1200px;margin:auto}#motto .text-area{-ms-flex-item-align:center;-ms-grid-row-align:center;align-self:center}#motto blockquote{font-size:1.5rem;line-height:1.5rem}footer{padding-top:30px;padding-bottom:120px;font-size:1.5rem}footer h2{text-align:center;font-size:1.8rem;margin-bottom:5.4rem}.slide-in{opacity:0;transition:all .5s ease-out}.slide-in.active{opacity:1;-webkit-transform:translateX(0) scale(1);transform:translateX(0) scale(1)}.slide-in_left{-webkit-transform:translateX(-30%) scale(.95);transform:translateX(-30%) scale(.95)}.slide-in_right{-webkit-transform:translateX(30%) scale(.95);transform:translateX(30%) scale(.95)}