// colors
$brand-primary: #502e2d; //dark purple
$brand-secondary: #000;  // black
$gray-light: #e6e5e4;
$gray: #555655;

$alert-color: #aa0e0e;

// font colors
$highlight-color: #502e2d;
$text-color: #000;

// notification colors
$error-color: #ef1313;

// font-sizes
$base-font-size: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.3rem;
$font-size-lg: 1.5rem;
$font-size-xl: 2rem;
$font-size-h1: 64px;


