// colors
$brand-primary: #ffe7da;
$brand-secondary: #000;  // black
$gray-light: #f1f1f1;
$gray: #555655;

$alert-color: #aa0e0e;

// font colors
$highlight-color: #000;
$text-color: #000;

// notification colors
$error-color: #ef1313;

// font-sizes
$base-font-size: 1rem;
$font-size-xs: 0.75rem;
$font-size-sm: 0.9rem;
$font-size-md: 1.1rem;
$font-size-lg: 1.5rem;
$font-size-xl: 1.8rem;
$font-size-h1: 80px;


