.circular-chart {
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle-bg {
  fill: none;
  stroke: $brand-primary;
  stroke-width: 2;
}

.circle {
  fill: none;
  stroke: $gray;
  stroke-width: 2;
  animation: progress 1s ease-out forwards;
}

@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}