@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'commons';
@import 'circular-chart.scss';



.hero {
    padding: 30px;
    background-image: url('/img/Unsplash.jpg');
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  .title {

        @media only screen and (min-width: 600px) {
        position: fixed;
        bottom: 5%;
        right: 5%;
        transform:  rotate(90deg);
        transform-origin: right;

    }
  }

  .greeting {
    padding-top: 40vh;
    margin-left: 2vw;;
    font-weight: 700;
    font-size: $font-size-lg;
    line-height: 3rem;
    width: 40vw;

  }


}

