@import '../../node_modules/normalize.css/normalize.css';
@import 'variables';
@import 'commons';
@import 'nav';
@import 'card.scss';
@import 'circular-chart.scss';



.module {
  margin-bottom: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card-group {
  ul {
    max-width: 1200px;
    margin: auto;
  }
}

.text-area {
  align-self: center;
  padding: 32px;
}

.hidden-md {
  @media only screen and (max-width: 900px) {
    display: none;
  }
}

.col-67 {
  max-width: 100%;
  align-self: center;
}

.col-33 {
  max-width: 100%;
}

@media only screen and (min-width: 900px){
  .col-60 {
    max-width: 60%;
  }

  .col-40 {
    max-width: 40%;
  }
}


.hero {
  position: relative;
  padding: 30px 5vw;
  background-color: #fff;
  background-image: url(img/gaelle-marcel-513561_600.jpg);

  @media only screen and (min-width: 600px) and (max-width: 899px) {
    background-image: url(img/gaelle-marcel-513561_900.jpg);
  }
  @media only screen and (min-width: 900px) and (max-width: 1499px) {
    background-image: url(img/gaelle-marcel-513561_1200.jpg);
  }
  @media only screen and (min-width: 1500px) {
    background-image: url(img/gaelle-marcel-513561_1800.jpg);
  }



  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  .title {
    padding: 80px 0 40px;

    @media only screen and (min-width: 900px) {
      padding: 0;
      right: calc(5vw + 40px);

      &.fixed {
        position: fixed;
        bottom: calc(50vh - 40px);
        transform:  translate(50%, 0) rotate(90deg);
      }

      &.absolute {
        position: absolute;
        bottom: 8px;
        transform:  rotate(90deg);
        transform-origin: right;
      }
    }
  }

  .greeting {
    color: $highlight-color;
    font-size: $font-size-lg;
    line-height: $font-size-lg * 2;
    @media only screen and (min-width: 900px) {
      width: 40vw;
      padding-top: 40vh;
    }
  }

}



#projects {
  margin-left: -5vw;
  margin-right: -5vw;
  padding-left: 5vw;
  padding-right: 5vw;
  .card {
    max-width: 80%;

    &:not(:only-child) {
      @media only screen and (min-width: 1200px) {
        width: 40%;
      }
    }
  }
}


#pro-statement {
  position: relative;
  margin-left: -5vw;
  margin-right: -5vw;
  background-color: #6a9061;
  background-image: url(img/bart-zimny-345682_1200.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h2 {
    color: #fff;
  }

  p {
    color: #fff;
    max-width: 540px;
    margin: 30px auto;
  }

}


#pro-skills {
  li {
    line-height: 2rem;
  }
}


#studies {
  position: relative;
  margin-left: -5vw;
  margin-right: -5vw;

  h2 {
    padding: 65px 0 30px 0;
    margin-bottom: 0;
  }

  .card {
    width: 18rem;
  }

  .card-group {
    background-color: $brand-primary;
  }

}

#motto {
  blockquote {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}


#soft-skills {
  padding: 50px 5vw;
  margin-left: -5vw;
  margin-right: -5vw;
  background-color: $gray-light;

  h6 {
    font-family: Montserrat;
    font-size: $base-font-size;
    color: $text-color;
  }
}


footer {
  padding-top: 30px;
  padding-bottom: 120px;
  font-size: $font-size-lg;
  h2 {
    text-align: center;
    font-size: $font-size-xl;
    margin-bottom: $font-size-xl *3;
  }
}


.slide-in {
  opacity: 0;
  transition: all 0.5s ease-out;
  &.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }
}

.slide-in_left {
  transform: translateX(-30%) scale(0.95);
}

.slide-in_right {
  transform: translateX(30%) scale(0.95);
}

